# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Static files
/static/

# Media files
/media/

# Virtual environment
venv/
.env

# Database
db.sqlite3

# IDE specific files
.idea/
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db
